/* -- public -- */
body{
    background:#fff;
    color:#666;
}
/* -- Footer --*/
footer{
    color:#A6A8A8;
    background:#EDEFEF;
}
footer a, footer span{
    color:#A6A8A8;
}
footer span.current {
    color:#219ACB;
}
/* -- page tips & error info -- */
.page-tips{
    color:#77787A;
}
.page-tips strong a{
    color:#2098CE;
}
.page-tips a{
    color:#E33D78;
}
.error-tips{
    background-color:#FFFFD1;
    border-bottom:1px solid #28A1D2;
}
/* -- header --*/
#header{
    background-color:#2E97D4;
}
#logo a{
    color:#fff;
}
.main-nav a, .main-nav span {border-left:1px solid #2680B4;color:#FFF;}
.main-nav span:hover,
.main-nav a:hover,
.main-nav span.on{
    background-color:#E6EBEE;
    color:#616161;
}
/* header-extendBlocks */
#header .extendBlocks{
    background-color:#E6EBEE;
}
#header .extendBlock{
    border-bottom:1px solid #059ACF;
}
.userNavi li a{
    color:#606060;
    background-color:#CED3D6;
    border:1px solid #C0C5C5;
}

/* search type */
.searchForm input[type="text"]{
    box-shadow:1px 1px 1px #CCC;
}
.searchForm input[type="submit"]{
	background:#CED3D6 ;
	border:1px solid #C0C5C5;
	text-shadow:0px 1px 1px #AAA;
	box-shadow:1px 1px 1px #CCC;
}
.content h1 {color:#676767;background:#EDEFEF;border-bottom:1px solid #66b2db;}
.content h1 em {color:#6A686B;}
.content h1.page-title {color:#2098CE;}
.content h1 a.pageBack {color:#0098CE;}

/* home page */
.categoryList li{border-bottom:1px solid #DDD;}
.categoryList .noCover .arrowRIcon{top:15px;}

/* -- content -- */
.page-options {background:#EDEFEF;}
.switchViewModel {border:1px solid #999;background:#CED3D6}
.pListOptions span {border:1px solid #999;background:#CED3D6}
.pListOptions span.on {background-color:#FFF;border-bottom-color:#FFF;}
.subMenu {background-color:#fff;border:1px solid #999;color:#6C6A6D;border:1px solid #999;}
.subMenu a {border-top:1px solid #999;color:#777;}
.subMenu a.choosed { color:#219ACB;}

/* -- Categories -- */
#categories a {border-bottom:1px solid #ddd;}


/* -- product list -- */
.salePrice {color:#E93B78 !important;}

/* product list */
.product-list { border-bottom:1px solid #ECECEC;}
.product-list li { border-top:1px solid #ECECEC;}
.product-list .tips { color:#E93B78;}
.product-list .circularIcon{position:absolute;left:10px;}
.relatedList .tips { color:#666;}
.pageBrand h1 a {color:#666;}
.productList li { border-top:1px solid #DDD;}
.circularIcon{
	display:inline-block;
	height:20px;
	width:20px;
	line-height:30px;
	border-radius:15px;
	border:1px solid #3487b3;
	background:#2f99c9;
	color:#FFF;
	font-size:13px;
	font-weight:bold;}

/* quantity box */
.qtySetting { border:1px solid #ddd;color:#666;}
.qtySetting a {
	border-right:1px solid #ddd;
	color:#848484;
	text-shadow:0px 1px 0px #fff;
	background:#DFDFDF;/* Old browsers */ 
	background:-moz-linear-gradient(top, #F8F8F8 0%, #F5F5F5 2%, #DFDFDF 80%, #DADADA 100%);/* FF3.6+ */ 
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #F8F8F8), color-stop(2%, #F5F5F5), color-stop(80%, #DFDFDF), color-stop(100%, #DADADA));/* Chrome,Safari4+ */ 
	background:-webkit-linear-gradient(top, #F8F8F8 0%, #F5F5F5 2%, #DFDFDF 80%, #DADADA 100%);/* Chrome10+,Safari5.1+ */ 
	background:linear-gradient(to bottom, #F8F8F8 0%, #F5F5F5 2%, #DFDFDF 80%, #DADADA 100%);/* W3C */}
.qtySetting a.more {border-left:1px solid #ddd;}
.singleQty span { border:1px solid #DDD;}

/* shipping address */
.addressList li {border-bottom:1px solid #DDD;}
.chooseList li { border-bottom:1px solid #DDD;}

/* two columns */
.filter li { border-bottom:.1em solid #DEDEDE;}
.filter li a span {background:#2098CE;color:#fff;text-shadow:0px 1px 0px #136A90;}
.currentFilter span {color:#2291D0;}
.currentFilter span a { border:3px solid #FFF;background:#CED3D6;color:#FFF;}
.infoList li {border-bottom:1px solid #E5E5E5;}
.infoList li strong {color:#E33E78;}
.linkList a {border-bottom:1px solid #DDD;}
.transport {border-top:1px solid #ddd;color:#E43C7A;background-color:#D5EEF4;}
.transport strong {color:#666;}
.icon-truck{color:#0099CC;}
.infoList li {border-bottom:1px solid #ddd;}
.infoList .prices .unitPrice {color:#E93B78 !important;}
.infoList .prices .salePrice {color:#E93B78;}
.infoList .prices .normalColor{color:#666;}
.siteList li {border-bottom:1px solid #DDD;}
.siteList li .active a {background:#DDD;}
.discounterList li a {color:#0099CC}
.discounterList em {color:#7B9F0F;}
.sampleList li {border-top:1px solid #DDD;}
.sampleList li .sampleMark {background:#FE7037;color:#FFF;}
.sampleList li .msgBox {color:#FFF;background:#FF6700;}

/* prodduct detail 'out of stock' color */
.outOfStock #stockBox h2{color:#E93B78;}

/* -- cart -- */
.cart-list a.remove-item {color:#2097CC;}
.cart-tips { border-bottom:1px solid #ddd !important;}
.orderAddressInfo {border-bottom:1px solid #DDD;}
.orderAddressInfo a.changeLink {background:#D3D9DB;color:#666;}
.orderAddressInfo a.payWith{border-top:1px solid #ECECEC;}
.reviewList li {border-bottom:1px solid #DDD;}
.reviewList h2 {color:#333;}
.promotionCode em {color:#FD7042;}
.sample-list {border-top:1px solid #ddd;}

/* -- order -- */
.order-title {border-bottom:.1em solid #B5B5B5 !important;}
.order-list-title {border-bottom:.1em solid #B3B6B8 !important;}
.order-quantiry {color:#666;}
.order-quantiry em {color:#2097D3 !important;}
.subtotal dd {border-bottom:1px solid #ddd;}
.order-total {background:#eee;}
.subtotal .subtotal-tips {color:#2097D3;}
/* -- my list -- */
.myList .outOfStockTips{color:#E93B78;}
/* -- oursite -- */
.oursite { background:#fff;}
.oursite .qty-box a {background:#DEDEDE;border:1px solid #BBB;}

/* -- help -- */
.myaccount-list a { color:#666 !important;}
.pageNavi a {color:#0098CE;}
/* -- paging -- */
.paging a {color:#1A83CB;}
/* form validate */
.unhappyMessage {color:#FF6700;}
input.unhappy {border-color:#FF6700 #FF6700 #FF8936 #FF8936;}
/* info-words */
.info-words li {border-bottom:1px solid #F5F5F5;}
.info-words h1 a {color:#2098CE;}
.info-words em {color:#E74A83;}
.info-list a {color:#666;}
/* FAQ page */
.pageFAQ h1 {color:#4FB19E;}
.productAttrs li.boxContainer h2{color:#E93B78;}

/* Baby Registry */
.warnInfoMsg{background:#d0ecf2;border-bottom:1px solid #66b2db;text-align:center;padding:10px;}
.warnInfoMsg a{color:#47a2d6;}
.radiusBoxBtn{margin-right:.5em;}
.radiusBoxBtn a{
	border-radius:5px;
	background:#61c9e2;
	color:#FFF;
	padding:11px 0;
	font-size:16px;
	font-weight:bold;
	vertical-align:middle;
	z-index:1;
	position:relative;
	display:inline-block;
	text-align:center;
	width:100%;}
.radiusLinkBtn{
	border-radius:3px;
	background:#0099CC;
	color:#FFF;
	padding:5px 0;
	font-size:14px;
	font-weight:bold;
	vertical-align:middle;
	display:inline-block;
	text-align:center;
	width:100%;}
.purchaseSchedule{text-align:center;border:1px solid #c6c6c6;border-width:1px 0 1px 0;background:#FFF;padding:15px 10px 10px;font-size:13px;font-weight:bold;}
.purchaseSchedule .radiusLinkBtn{width:60%;}
.purchaseSchedule p{padding:10px 0 5px;}
.purchaseSchedule .circularIcon{font-size:15px;font-style:italic;}
.purchaseSchedule .boxContainer{display:inline-block;width:100%;}
.purchaseSchedule .boxContainer span{display:inline-block;}
.purchaseSchedule .boxCols1{width:29%}
.purchaseSchedule .boxCols2{width:1%}
.purchaseSchedule .boxCols3{width:34%;}
.progressBarBg{width:100%;background:#D6D6D6;border:.1em solid #bbb;}
.progressBar{
	height:1.3em;
	background:-webkit-gradient(linear, left top, left bottom, 
	color-stop(.08,#5ac7e8),
	color-stop(.08,#34b3dc ), 
	color-stop(.32,#34b3dc),
	color-stop(.33,#32abd6), 
	color-stop(.44,#32abd6),
	color-stop(.46,#32abd6),
	color-stop(.72,#34b3dc),
	color-stop(.73,#32abd6), 
	to(#1e9ecf));
	background:-moz-linear-gradient(top,#5ac7e8 8%,#34b3dc 8%,#34b3dc 32%,#32abd6 33%,#32abd6 44%,#32abd6 46%,#34b3dc 72%,#32abd6 73%,#1e9ecf);
	border:.1em solid #29a7cd;}
.blankIcon{
	background:#d8ecf3;
	border:1px solid #abc9ef;
	text-indent:-999em;}
.fulfilled{
	font-size:.8em;
	line-height:22px;
	text-indent:-2px;}
.partiallyCompleted{
	border:1px solid #abc9ef;
	background:#349dcd;
	color:#d8ecf3;
	overflow:hidden;
	line-height:11px;
	text-indent:-2px;
	font-size:1.2em;}
.partiallyCompleted:before{
	content:"\e019";
}
.shareButton{padding:0 15px;}
.shareButton a{padding:0;}
@media screen and (orientation:portrait) {
	.cart-list .itemsStatus .itemsStatusMsg{float:left;padding-top:38px;width:60%;}
	.cart-list .itemsStatus .active{clear:none;}
}
.itemsStatus .active{top:35%;}
.itemsStatusMsg span{color:#789E0B;font-weight:bold;}
.receivedBox{margin-top:10px;}
.babyInfoBox .active{padding:10px 10px 0;}
.babyInfoBox .active .qtySetting{display:inline-block;}
.babyInfoBox .active .boxCols1{width:50%;display:block;text-align:center;}
.creatRegistryBtn{padding:0 10px 10px;}
.creatRegistryBtn .boxCols1{margin-left:.3em;}
.creatRegistryBtn .boxCols1:nth-child(odd){margin:0 .3em 0 0;}

/* adv block for brand pages */
.icon-star{
	color:#ccc;
}
.icon-star-filled{
	color:#ffcc66;
}
/* For Reset PassWord   */
.emailLine .blueText{
	color:#0090BA;
}
.messageLine{
	color:#999;
}
.icon-gridlist{
	font-size:1.4em;
	position:absolute;
	margin-left:4px;
}
.strikeout{text-decoration:line-through;}

/* For Reset PassWord   */
.resetPasswordBox{
	padding-top:1.5em;
}
.emailLine{
	font-size:2em;
}
.messageLine{
	font-size:1.6em;
	line-height:1.4em;
}

/* PDP Action Button   */
.moreOption{border-top:1px solid #1aa5ce;}
.moreOption dd{background:#d5eef3;border-bottom:1px solid #1aa5ce;}
.moreOption dd a {color:#1aa5ce;}
.moreOptionBox span{background:#5ab9cf;color:#FFF;}
.infoList .moreOptionWrap{border-top:1px solid #1aa5ce;}

/* Add few styles*/
.product-list section{
	padding: 10px 0 20px 0;
}


/* Responsive for Demo */
@media screen and (max-width: 320px) {
     
    .gridView li{
		width:50%;
	}
    
}
@media (min-width: 321px) and (max-width: 480px) {
     
    .gridView li{
		width:33%;
		min-height:390px;
	}
     
}
@media (min-width: 481px) and (max-width: 768px) {
     
    .gridView li{
		width:25%;
		min-height:358px;
	}
     
}
@media (min-width: 769px) and (max-width: 1024px) {
     
    .gridView li{
		width:20%;
		min-height:300px;
	}
     
}
@media screen and (min-width: 1024px) {
     
    .gridView li{
		width:16.66%;
	}
     
}